modules = ["nodejs-24"]

[nix]
channel = "stable-25_05"
packages = ["glib", "gtk3", "nss", "nspr", "alsa-lib", "cups", "dbus", "expat", "libdrm", "mesa", "pango", "cairo", "atk", "at-spi2-atk", "libxkbcommon", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libXrender", "xorg.libxcb", "xorg.libXi", "libgbm"]

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[workflows.workflow.metadata]
outputType = "vnc"
